<div class="card">
    <div class="card-body">
        <h2>Login!</h2>
        <form action="/auth/login" method="POST">
            <label for="email" class="mt-3">Email: </label>
                <input type="email" name="email" id="email" class="form-control mt-2"  >
            <label for="password"  class="mt-3">Password: </label>
                <input type="password" name="password" id="password" class="form-control mt-2"  >
            <button type="submit" class="btn btn-success mt-4">Create</button>
        </form>
    </div>
</div>