<div class="card mt-3 mb-1" style="width: 60%; margin: 0 auto">
        <div class="card-body" >
            <h4>{{user.username}}</h4>
            <hr>
            <h5>{{user.email}}</h4>

        </div>
    </div>